.gallery{
    display: grid;
    max-width: 1000px;
    min-width: 500px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 100px));
    justify-content: center;
    gap: 30px;
    margin: auto;
}

#search {
    display: block;
    margin: 25px auto;
    border: solid lightgray 2px;
    border-radius: 5px;
    padding: 15px;
    width: 40em;
}

input::placeholder{
    color: darkgray;
}